.DK_container {
    position: fixed;
    bottom: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    &[data-spans="wide"] {
        left: 0;
    }
    &[data-spans="left"] {
        width: 50%;
        left: 0px;
    }
    &[data-spans="right"] {
        width: 50%;
        right: 0px;
    }
}

.DK_row {
    background: #fff;
    color: #000;
    display: flex;
    .DK_key {
        flex: 1;
        height: 64px;
        border-radius: 0;
        border: 8px outset #000;
        text-align: center;
        font-weight: bold;
        font-size: 200%;
        font-family: sans-serif;
        align-content: center;
        user-select: none;
        &.DK_key_blank {
            opacity: 0;
            pointer-events: none;
        }
        &:not([data-truedisplay="1"]) {
            text-transform: uppercase;
        }
        &:active,&.DK_key_active {
            border-style: inset;
        }
    }
}